
/*
    */

/* Mis estilos CSSS*/
/* color primario*/

/* #0982EA */
/*Color secundario*/

/* #3AAA35 */
/*color Fuentes*/

/* #706F6F #9B9999 */
/* color tercero */

@font-face {
  font-family: "Roboto", "Poppins", sans-serif;
  src: url("fonts/Roboto-Black.ttf"), url("fonts/Roboto-Bold.ttf"),
    url("fonts/Roboto-Regular.ttf"), url("fonts/Poppins-Black.ttf"),
    url("fonts/Poppins-Bold.ttf"), url("fonts/Poppins-ExtraBold.ttf"),
    url("fonts/Poppins-Regular.ttf");
}


html {
  font-size: 16px;
}
body {
  font-family: "Roboto", "Poppins", sans-serif;
  color: #706f6f;
}

/*==========================================
    =            estilos del HEADER            =
    ==========================================*/

.hero-encabezado {
  height: 94vh;
  background: linear-gradient(to top, rgba(2, 75, 139, 0.7), rgb(9, 130, 234, 0.7)) , url("../img/lacompania.jpg") no-repeat center;
  background-size: cover;
  color: #ffff;
  background-attachment: fixed !important;
  /* margin-top: 5rem; */
}

/* .hero-encabezado::before {
  background: rgb(9, 130, 234, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 2;
} */

.hero-encabezado .hero-h1 {
  font-family: "Robtoto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  position: relative;
  z-index: 4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-encabezado .btn-hero {
  position: relative;
  z-index: 4;
}

.hero-encabezado #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.encabezado {
  /* background: rgb(72, 71, 70, 0.7);*/
  /* color: #fff;*/
  padding: 1.5rem;
}
.bg-primary {
  background: rgb(240, 240, 240, 1) !important;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.bg-primary .logo img {
  width: 120px;
  height: auto;
}
.bg-primary {
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  -webkit-transition: all 1s ease !important;
  -o-transition: all 1s ease !important;
  transition: all 1s ease !important;
}

/*=====  End of estilos del HEADER  ======*/

/*======================================================================
        =            Estilos para el boton de busqueda y el menubar            =
        ======================================================================*/

.boton-buscar,
.boton-menu {
  border: 0;
  font-family: "Roboto", serif;
  font-size: 2.1rem;
  margin: 0;
  padding: 0 0.5rem;
  background: transparent;
  color: #706f6f;
}
.boton-buscar:focus,
.boton-menu:focus {
  outline: 0;
}
.boton-buscar {
  /* margin-left: auto;*/
  margin-right: 1rem;
}

/*=====  End of Estilos para el boton de busqueda y el menubar  ======*/

/*=================================================
    =            estilos del bloque buscar            =
    =================================================*/

#bloque-buscar {
  position: relative;
  /* background: red;*/
  width: 300px;
}
.contenedor-bloque-buscar {
  height: 3rem;
  margin: 1rem 0;
}
.contenedor-bloque-buscar input[type="text"] {
  border: 1px solid #9b9999;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
}
.contenedor-bloque-buscar input[type="submit"] {
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #3aaa35;
  color: #ffff;
}
.contenedor-bloque-buscar input[type="text"]:focus,
.contenedor-bloque-buscar input[type="submit"]:focus {
  outline: 0;
}

/*=====================================================
  =               clases del menu principal             =
  =====================================================*/

#menu-principal {
  /* background: red;*/
  width: 100%;
}
#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0;
}
#menu-principal ul a {
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #706f6f;
  border-top: 0.5px solid rgb(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: #3aaa35;
  font-weight: bold;
}
#menu-principal .nav-item .dropdown-menu {
  width: auto;
  padding: 0;
  background: rgb(32, 28, 21, 0.7);
  border: 0;
}
#menu-principal .nav-item .dropdown-menu .dropdown-item {
  text-align: center;
  width: auto;
  color: #fff;
  font-weight: 500;
  margin: 0;
  padding: 1rem;
  border-bottom: 0 solid;
  border-top: 0.5px solid rgb(255, 255, 255, 0.5);
}
#menu-principal .nav-item .dropdown-menu .dropdown-item:hover {
  display: block;
  width: auto;
  background: #3aaa35;
  color: #ffff;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

/*===================================================
  =            hero encabezado con estilos            =
  ===================================================*/

.hero-encabezado {
  font-family: "Roboto", serif;
  padding-top: 10rem;
}
.hero-encabezado h1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
}
.hero-encabezado .btn-1 {
  color: #fff;
  background-color: #3aaa35;
  border-color: #08a4ab;
  padding: 0.5rem;
  border-radius: 3rem;
  width: 300px;
  margin-bottom: 2rem;
}
.hero-encabezado .btn-2 {
  color: #fff;
  background-color: #a0522d;
  border-color: #08a4ab;
  border-radius: 3rem;
  padding: 0.5rem;
  width: 300px;
  margin-bottom: 2rem;
}
.hero-encabezado .btn:hover {
  color: #fff;
  background-color: #08a4ab;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero-imagenes .hero-img1 {
  display: none;
}
.hero-imagenes .hero-img2 {
  display: none;
}

.bienvenidos .encabezado .btn-singup,
.btn-login {
  color: #fff;
  background: -o-linear-gradient(bottom, #1f91d7, #00c4ff);
  background: -webkit-gradient(linear, left bottom, left top, from(#1f91d7), to(#00c4ff));
  background: linear-gradient(to top, #1f91d7, #00c4ff);
  border-color: #08a4ab;
  border-radius: 3rem;
  width: 80px;
  margin: -5rem;
}

.btn-siguiente {
  font-family: "Roboto", serif;
  font-size: 20px;
  color: #fff;
  background: -o-linear-gradient(bottom, #1f91d7, #00c4ff);
  background: -webkit-gradient(linear, left bottom, left top, from(#1f91d7), to(#00c4ff));
  background: linear-gradient(to top, #1f91d7, #00c4ff);
  border-color: #08a4ab;
  border-radius: 3rem;
  width: 145px;
  height: 45px;
  margin-bottom: 1rem;
}

.bienvenidos .encabezado .btn-singup:hover,
.btn-login:hover,
.btn-siguiente:hover {
  background: #08a4ab;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bienvenidos .encabezado .btn-singup:active,
.btn-login:active {
  background: #08a4ab;
}

/*=====  End of hero encabezado con estilos  ======*/

/*=================================================
    =            /* encabezado internas             =
    =================================================*/

.nabvar-internas .encabezado-internas {
  background: rgb(9, 130, 234, 1) !important;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  padding: 1rem;
}
.nabvar-internas .encabezado-internas .logo-white img {
  width: 300px;
  height: auto;
}
.nabvar-internas .encabezado-internas .bg-primary {
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  -webkit-transition: all 1s ease !important;
  -o-transition: all 1s ease !important;
  transition: all 1s ease !important;
}

.nabvar-internas .encabezado-internas .circulo {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 2rem;
}

.nabvar-internas .encabezado-internas .circulo span {
  color: red;
}

.nabvar-internas .encabezado-internas a {
  text-decoration: none;
}

.nabvar-internas .encabezado-internas .circulo:hover {
  background-color: yellow;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/*=====  End of /* encabezado internas   ======*/

/*=============================================
    =            Section acerca de nosotros             =
    =============================================*/
/* secciones */

.about-us {
  margin-top: 2rem;
}

.name-category {
  font-family: "Poppins";
  color: #1e90ff !important;
  font-size: 1.5rem !important;
  font-weight: 700;
  text-transform: capitalize;
}

.name-category::after {
  content: "";
  display: block;
  border-bottom: 4px solid #3aaa35;
  margin-top: 1rem;
  width: 10rem;
  height: 0.2rem;
}

.name-category span {
  color: #3aaa35;
}

#about p {
  font-style: 100;
  font-family: "Roboto", serif;
  font-size: 1rem;
  word-spacing: 5px;
  line-height: 25px;
}

/*=====  End of Section comment block  ======*/

/*   paginas internas container*/

/*=============================================
    =            Section contenedores de pagina ONI            =
    =============================================*/
.data .container .box1 {
  margin-top: 120px;
  /*/background: red;*/
  width: 100%;
  height: auto;
  /*   -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1) !important;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1) !important;
        -webkit-transition: all 1s ease !important;
        border-radius: 20px;
        -o-transition: all 1s ease !important;
        transition: all 1s ease !important;*/
}

.data .container .box1 .btn-date,
.data .container .box1 .btn-average {
  background: #e9ecef;
  padding: 1.2rem;
  border-radius: 5px;
  margin: 1px;
}
.data .container .box1 .btn-event {
  background: #ffbb00;
  padding: 1.2rem;
  border-radius: 5px;
  margin: 1px;
}

.data .container .box1 .btn-charts {
  background: -o-linear-gradient(bottom, #1f91d7, #00c4ff);
  background: -webkit-gradient(linear, left bottom, left top, from(#1f91d7), to(#00c4ff));
  background: linear-gradient(to top, #1f91d7, #00c4ff);
  padding: 1.2rem;
  border-radius: 5px;
  margin: 1px;
}
.data .container .box1 .btn-charts-2 {
  background: -o-linear-gradient(bottom, #3aaa35, #2ddc26);
  background: -webkit-gradient(linear, left bottom, left top, from(#3aaa35), to(#2ddc26));
  background: linear-gradient(to top, #3aaa35, #2ddc26);
  padding: 1.2rem;
  border-radius: 5px;
  margin: 1px;
}

.data .container .box1 .btn-charts a,
.data .container .box1 .btn-charts-2 a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.data .container .box1 .btn-date h2,
.data .container .box1 .btn-average h2,
.data .container .box1 .btn-event h2,
.data .container .box1 .btn-charts h2,
.data .container .box1 .btn-charts-2 h2 {
  font-family: "Poppins", serif;
  font-weight: bold;
  font-size: 2rem;
  color: #706f6f;
}

.data .container .box1 .btn-date img,
.data .container .box1 .btn-average img,
.data .container .box1 .btn-event img,
.data .container .box1 .btn-charts img,
.data .container .box1 .btn-charts-2 img {
  width: 100px;
  height: auto;
}

/*.data .container .box1 .btn-charts img,
     .data .container .box1 .btn-charts-2 img {
        filter: grayscale(10%);
        opacity: 0.1;
        filter: alpha(opacity=10);
     }*/

/*=====  End of Section contenedores de pagina ONI  ======*/

/*===============================
     =            charts            =
     ===============================*/

.charts {
  margin-top: 150px;
}

/*=====  End of charts  ======*/

/*=============================================
     =            Section botones de indice ONI          =
     =============================================*/

.botones-oni h1 {
  font-family: "Poppins", serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #0982ea;
  padding: 0.5rem;
}

.botones-oni .btn-we {
  background: #e9e903;
}

.botones-oni .btn-me {
  background: #ffbb00;
}

.botones-oni .btn-se {
  background: #ff8c00;
}

.botones-oni .btn-vse {
  background: #ff5555;
}

.botones-oni .btn-wl {
  background: #adff2f;
}

.botones-oni .btn-ml {
  background: #00ff7f;
}

.botones-oni .btn-sl {
  background: #1e90ff;
}

.botones-oni .btn-normal {
  background: #9b9999;
}

.botones-oni .btn-all {
  background: #e9ecef;
}

/*=====  End of Section comment block  ======*/

/*===========================================
     =            secccion de modulos            =
     ===========================================*/

.modulos .mensaje {
  margin-top: 100px;
  margin-bottom: 20px;
  height: 50px;
  border-radius: 5px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modulos .opciones {
  height: auto;
  border-radius: 5px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modulos .opciones h2 {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-size: 1.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0982ea;
}

.modulos .opciones p {
  font-size: 1rem;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 2rem;
}

/*=====  End of secccion de modulos  ======*/

.table .container .box2 {
  margin-top: 2rem;
  height: auto;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  -webkit-transition: all 1s ease !important;
  border-radius: 20px;
  -o-transition: all 1s ease !important;
  transition: all 1s ease !important;
}

/*  estilos para las tabla ONI */

.table .container .box2 table.dataTable thead,
table.dataTable tfoot {
  background: #f8f9fa;
  border: 1px solid #9b9999;
}

/* enlaces opendata */

.enlaces .owl-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
}
/* 
.enlaces .owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

.enlaces .owl-carousel .owl-nav .owl-prev,
.enlaces .owl-carousel .owl-nav .owl-next {
  font-size: 2rem;
  margin: 0 0.5rem;
  color: #0982ea;
}

.enlaces .owl-carousel .owl-nav .owl-prev:hover,
.enlaces .owl-carousel .owl-nav .owl-next:hover {
  color: #3aaa35;
}

.enlaces .owl-carousel .fa .fa-caret-left li:focus,
.enlaces .owl-carousel .fa .fa-caret-right li:focus {
  outline: none !important;
} */

/* .enlaces .owl-carousel img {
    height: auto;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.4;
  filter: alpha(opacity=30);
} */

.enlaces .owl-carousel img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.enlaces .owl-carousel img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /* opacity: 0.4; */
  filter: alpha(opacity=30);
  width: 70%;
  padding: 0 3rem 0 0;
}

/*========================================================
     =            sección de mensaje de bienvenida            =
     ========================================================*/

/* seccion de los SDGs  */

.sdgs .principales-sdgs img {
  margin-top: 2rem;
  height: 40%;
  width: auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.sdgs .item-poverty,
.sdgs .item-hunger,
.sdgs .item-action,
.sdgs .item-partnership {
  min-height: 300px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sdgs .item-poverty {
  background: #e2061f;
}

.sdgs .item-hunger {
  background: #d6a102;
}
.sdgs .item-action {
  background: #4a7634;
}

.sdgs .item-partnership {
  background: #1f3262;
}

/* .sdgs .item-poverty:hover {
        background: blue;
        transition: all 0.5s ease;
        
    } */
.sdgs .item-poverty .informacion,
.sdgs .item-hunger .informacion,
.sdgs .item-action .informacion,
.sdgs .item-partnership .informacion {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: -8000px;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
}

.sdgs .informacion h3 {
  font-size: 4rem;
  font-weight: bolder;
  opacity: 0.6;
}

.sdgs .informacion h4 {
  font-size: 3rem;
  font-weight: bold;
}

#info-proverty p:nth-child(3) {
  font-size: 0.8rem;
  font-weight: 200;
}
.sdgs .informacion p {
  font-size: 1rem;
  font-weight: 200;
}

.sdgs .item-poverty:hover .informacion,
.sdgs .item-hunger:hover .informacion,
.sdgs .item-action:hover .informacion,
.sdgs .item-partnership:hover .informacion {
  top: 0;
  left: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.sdgs .item-poverty:hover .informacion {
  -webkit-box-shadow: 5px 5px 19px 0px rgba(226, 6, 31, 0.56);
  box-shadow: 5px 5px 19px 0px rgba(226, 6, 31, 0.56);

  background: rgba(226, 6, 31, 1);
}

.sdgs .item-hunger:hover .informacion {
  -webkit-box-shadow: 5px 5px 19px 0px rgba(214, 162, 7, 0.56);
  box-shadow: 5px 5px 19px 0px rgba(214, 162, 7, 0.56);
  background: rgba(214, 162, 7, 1);
}

.sdgs .item-action:hover .informacion {
  -webkit-box-shadow: 5px 5px 19px 0px rgba(73, 118, 52, 0.56);
  box-shadow: 5px 5px 19px 0px rgba(73, 118, 52, 0.56);
  background: rgba(73, 118, 52, 1);
}

.sdgs .item-partnership:hover .informacion {
  -webkit-box-shadow: 5px 5px 19px 0px rgba(30, 50, 98, 0.56);
  box-shadow: 5px 5px 19px 0px rgba(30, 50, 98, 0.56);
  background: rgba(30, 50, 98, 1);
}

.titulos-sdgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.titulos-sdgs h2 {
  font-size: 3.5rem;
}

.titulos-sdgs p {
  margin: 5px;
}

/*  seccion de outputs */

.animation img {
  width: 50%;
}

.animation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
}

.animation li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.animation li p {
  margin: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

/* Animacion de texto */
#texto {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #0982ea;
  margin-top: 0;
  -webkit-animation: movimiento 15s;
  animation: movimiento 15s;
  /* transform: translate(0, 0); */
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes movimiento {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes movimiento {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*  modulo de an */

/*=====  End of seccion de mensaje de bienvenida  ======*/

/* Footer */

.pie-pagina {
  background: #db8638;
}

.pie-pagina .footer-top-img {
  position: relative;
  top: -20px;
  z-index: 2;
}

.pie-pagina h2 {
  font-family: "Poppins", serif !important;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.pie-pagina .parrafo p {
  padding: 1rem;
  font-weight: 100;
  font-family: "Roboto", serif;
  font-size: 1rem;
  word-spacing: 5px;
  line-height: 25px;
  color: #fff;
}
.pie-pagina .parrafo a {
  color: #d29f36;
}

.pie-pagina .sitemap h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.pie-pagina .sitemap ul {
  padding: 1rem;
}
.pie-pagina .sitemap ul li {
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 10px 0;
  padding: 0;
}
.pie-pagina .sitemap ul li a {
  text-decoration: none;
  color: #fff;
}

.pie-pagina .direccion h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.pie-pagina .direccion p {
  padding: 1rem;
  font-style: normal;
  font-family: "Roboto", serif;
  font-size: 1rem;
  word-spacing: 5px;
  line-height: 25px;
}

.pie-pagina .fa {
  font-size: 1.5rem;
  padding: 0.5rem 0 0.5rem;
  color: #e9ecef;
}

.pie-pagina h4 {
  font-family: "Cinzel", serif;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.pie-pagina .copy a {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 10px;
}

/* boton de ir arrriba */

.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 4.5rem;
  color: #0982ea;
  text-decoration: none;
  z-index: 99999;
  display: none;
  line-height: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: #3aaa35;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ir-arriba a:active {
  color: #08a4ab;
}
.fa-angle-up:before {
  content: "\f139";
  font-weight: bold;
}
.ir-arriba p {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

/* EMPIEZAN LOS MEDIA QUERY */

@media (min-width: 360px) {
  .enlaces .owl-carousel img {
    width: 100%;
  }
  .hero-encabezado {
    height: 96vh;
  }
  .enlaces .owl-carousel a img {
    height: 95px;
    /* width: auto; */
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .enlaces .owl-carousel img {
    width: 100%;
  }
  .hero-encabezado {
    height: 96vh;
  }

  .hero-encabezado .hero-h1 {
    font-size: 1.5rem;
    font-weight: 100;
  }
  .name-category {
    font-size: 2rem !important;
    font-weight: 700;
  }
  .enlaces .owl-carousel a img {
    min-height: 40%;
    /* width: auto; */
  }
  
}

@media screen and  (min-width: 768px) and (max-width: 992px) {
  .bienvenidos .encabezado .btn-login,
  .btn-singup {
    margin: -2rem;
  }
  #menu-principal {
    /* background: red;*/
    width: 100%;
  }
  #menu-principal ul {
    margin: 0 0 0 0;
  }

  .hero-imagenes img{
    width: 45%;
  }
  .hero-imagenes .hero-img1 {
    display: inline-block;
    position: absolute;
    top: minmax(500px, 80%);
    left: 30%;
    z-index: 3;
  }
  
  /*.hero-imagenes .hero-img2 {
            display: inline-block;
            position: relative;
            top: -30px;
            left: 0;
            z-index: 3;
        }*/

  .about-us {
    margin-top: 5rem;
  }

  /* seccion de los SDGs  */

  .sdgs .principales-sdgs img {
    margin-top: 2rem;
    height: 25%;
    width: auto;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .sdgs .informacion h3 {
    font-size: 2.5rem;
    font-weight: bolder;
    opacity: 0.6;
  }

  .sdgs .informacion h4 {
    font-size: 2rem;
    font-weight: bold;
  }
  #info-proverty p:nth-child(3) {
    font-size: 0.56rem;
    font-weight: 200;
  }
  .sdgs .informacion p {
    font-size: 0.5rem;
    font-weight: 200;
  }

  .titulos-sdgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .titulos-sdgs h2 {
    font-size: 3.5rem;
  }

  .titulos-sdgs p {
    margin: 5px;
  }

  /*  Animacion de logo */

  #logoanimation {
    width: 30%;
    margin-bottom: 0;
  }

  #logoanimation {
    width: 80%;
  }

  .animation img {
    width: 30%;
  }

  .animation li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .animation li p {
    font-size: 1.2rem;
  }

  .enlaces .owl-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
  }
}

@media screen and  (min-width: 992px)  {
  .encabezado {
    padding: 1.5rem 0 1.5rem 0;
  }
  .encabezado .container {
    padding-bottom: 0;
  }
  .bg-primary .logo img {
    /* filter: brightness(10);*/
    width: 150px;
    height: auto;
  }
  #menu-principal {
    height: auto !important;
    display: block;
    width: auto;
    margin-left: auto;
    /* background: red;*/
  }
  #menu-principal ul li a {
    padding: 0.8rem;
    margin: 0 0.3rem;
    border-top: 0px;
    font-size: 0.9rem;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #menu-principal ul li a:hover {
    color: #3aaa35;
    /* border-bottom: 4px solid;*/
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #menu-principal ul li.active a {
    border-bottom: 4px solid #3aaa35;
  }
  #menu-principal .nav-item .dropdown-menu {
    position: absolute;
    /* top: auto;*/
    width: auto;
    padding: 0;
    border-top: 4px solid #3aaa35;
    background: rgb(32, 28, 21, 0.7);
    border-radius: 0;
  }
  #menu-principal .nav-item .dropdown-menu .dropdown-item {
    text-align: left;
    width: auto;
    color: #fff;
    font-weight: 500;
    margin: 0;
    padding: 1rem;
    border-bottom: 0 solid;
    border-top: 0.5px solid rgb(255, 255, 255, 0.5);
  }
  #menu-principal .nav-item .dropdown-menu .dropdown-item:hover {
    /* display: block; */
    width: auto;
    background: #3aaa35;
    color: #ffff;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .boton-buscar {
    margin-left: 1rem;
    margin-right: 2rem;
  }
  .contenido-menu img {
    width: 370px;
    height: 306px;
    -o-object-fit: cover;
    object-fit: cover;
    border: 0.5rem solid #d6c590;
  }
  .menu-card-item {
    padding: 0 0 0 0;
  }
  .contenido-menu {
    position: relative;
    overflow: hidden;
    display: table;
  }

  /* seccion de los SDGs  */

  .sdgs .principales-sdgs img {
    margin-top: 2rem;
    height: 25%;
    width: auto;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .sdgs .informacion h3 {
    font-size: 3rem;
    font-weight: bolder;
    opacity: 0.6;
  }

  .sdgs .informacion h4 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  #info-proverty p:nth-child(3) {
    font-size: 0.8rem;
    font-weight: 200;
  }
  .sdgs .informacion p {
    font-size: 0.8rem;
    font-weight: 200;
  }

  .titulos-sdgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .titulos-sdgs h2 {
    font-size: 3.5rem;
  }

  .titulos-sdgs p {
    margin: 5px;
  }

  .enlaces .owl-carousel a img {
    min-height: 50%;
    /* width: auto; */
  }

  .hero-imagenes img{
    width: 50%;
  }
  .hero-imagenes .hero-img1 {
    display: inline-block;
    position: absolute;
    top: 60%;
    left: calc(58% - 20rem);
    z-index: 3;
  }
}

@media screen and  (min-width: 1200px) {
  .hero-imagenes img{
    width: 40%;
  }
  .hero-imagenes .hero-img1 {
    display: inline-block;
    position: absolute;
    top: 55%;
    left: 30%;
    z-index: 3;
  }
}